---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

// Obtener y ordenar los posts por fecha y luego por weight
const posts = (await getCollection("posts")).sort((a, b) => {
  const dateDiff = b.data.date.valueOf() - a.data.date.valueOf();
  if (dateDiff !== 0) return dateDiff;
  return (a.data.weight ?? 0) - (b.data.weight ?? 0);
});
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <ul class="flex flex-col gap-4">
      {
        posts.map((post) => (
          <li>
            <a
              href={`/posts/${post.slug}`}
              class="group flex justify-between gap-3"
            >
              <span class="group-hover:underline">{post.data.title}</span>
              <span class="text-nowrap text-zinc-500">
                {formatDate(post.data.date)}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
